<%= form_for @badge_nomination_vote, html: { class: "voteForm", id: "voteForm" }, remote: true, :authenticity_token => true do |f| %>
  <div class="formSuccessMessageWrap flash-hidden" id="formSuccessMessageWrap">
    <div class="big-notification green-notification full-bottom" id="apply-sucess">
      <h5 class="uppercase">Genial!</h5>
      <a href="#" class="close-big-notification">x</a>
      <p>Su voto ha sido enviado exitosamente.</p>
    </div>
  </div>

  <div class="formFailureMessageWrap flash-hidden" id="formFailureMessageWrap">
    <div class="big-notification red-notification full-bottom" id="apply-errors">
      <h5 class="uppercase">Lo sentimos</h5>
      <a href="#" class="close-big-notification">x</a>
      <ul id="errors-list">
      </ul>
    </div>
  </div>

  <fieldset class="full-bottom" id="apply-fieldset">
    <% @nominations.each do |nomination| %>
      <div class="formFieldWrap container">
        <div class="one-half last no-bottom delay-300 slideInRight">
          <h6>Nominado: </h6>
            <%= nomination.nominated_employee.name %>
        </div>       
        <div class="one-half last no-bottom delay-300 slideInRight">
          <h6>Nominado por: </h6>
            <%= nomination.nominator.name %>
        </div>
        <div class="one-half last no-bottom delay-300 slideInRight">
          <h6>Debido a: </h6>
            <%= nomination.description %>
        </div>
      </div>
      <div class="formFieldWrap container">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Acepto
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option2"> No Acepto
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option3"> N/A
        </label>
        <br><br>
        <%= f.label :description, class: "field-title contactNameField" %>
        <%= f.text_area :description, class: "contactField field-deco requiredField" %>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="formSubmitButtonErrorsWrap">
      <i class="fa fa-envelope"></i>
      <%= f.submit "Votar", class: "buttonWrap contactSubmitButton" %>
    </div>
  </fieldset>
<% end %>