<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>

  <meta name="apple-mobile-web-app-title" content="Pernix Apprenticeship">
  <%= favicon_link_tag 'favicon.ico' %>

  <title>Pernix</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="box-960">
      <div class="header-elements">
        <div class="logo">
          <a href="<%= root_path %>">
            <%= image_tag "logo.png" %>
        </a>
        </div>
      </div>
      <div class="navigation">
        <a href="<%= root_path %>">  <i class="fa fa-home"></i>   <em>Home</em>      </a>
        <a href="<%= badge_nominations_path %>">  <i class="fa fa-badges"></i>     <em>Badges</em>     </a>
        <a href="<%= employees_index_path %>">  <i class="fa fa-police"></i>     <em>Police</em>     </a>
      </div>
    </div>
  </header>
  <%= yield %>

  <div class="content">
    <div class="box-960">  
      <div class="decoration"></div>
      <div class="full-bottom">
        <p class="center-text">Copyright 2014 - Pernix. All rights reserved.</p>
      </div>
    </div>
  </div>
</body>
</html>
